
    html{
    background-color:blueviolet;

    }
    h1{
        background-color: aqua;
        color:blue;

    }
    h2{
            background-color: aquamarine;
    }
    h3{
        background-color: azure;
    }
    .a{
    
       background: scroll; 
    }
